
.btn-success {
    
    color:black;
    background-color:greenyellow!important;
}

.btn-success:hover
{
    background-color: gold!important;
}
.btn-primary:active

{
    background-color:darkgreen!important;
}