<canvas #canvas width="800" height="600"></canvas>
<div>
    <button type="button" class="btn btn-success" (click)="startAnimation()" style="margin-left:2%">Play</button>
    <button type="button" class="btn btn-warning" (click)="stopAnimation()" style="margin-left:2%">Pause</button>
    <button type="button" class="btn btn-primary" (click)="toggleGameSpeed()"style="margin-left:2%">Normal/Fast</button>
    <button type="button" class="btn btn-danger" (click)="gameservice.gameOver()" style="margin-left:2%">Stop</button>
</div>

